html {
    color: #333333;
    background-color: #FECB40;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-underline-position: under;
}

body {
    margin: 0;
    padding: 0;
}

.main_container {
    margin: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 512px;
    gap: 96px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.menu a {
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    font-weight: 274;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 64px;
    font-style: normal;
    line-height: normal;
    font-weight: 274;
    padding: 0;
    margin: 0;
}

p {
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    font-weight: 274;
    padding: 0;
    margin: 0;
}

.button {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    font-weight: 274;
    background-color: #333333;
    padding: 16px 64px 16px 64px;
    color: #FFFEFC;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.copyright {
    margin: 64px;
    color: #333333;
    opacity: 0.54;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-weight: 274;
}

.button_container a:link,
.button_container a:visited,
.button_container a:active {
    color: #FFFEFC;
}

a:visited,
a:link,
a:active {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: underline;
}